h1 {
  font-size: 1.2em;
  color: black;
  margin-bottom: 0;
  font-family: 'Fjalla One', sans-serif;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
  font-family: 'Fjalla One', sans-serif;
  color: black;
}
nav a:visited, a:link {
  color: black;
  background-color: lightskyblue;
}
nav a:hover {
  color: white;
  background-color: blue;
}
nav a.active {
  color: darkblue;
}
.container {
  width: 100%;
}
