label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: black;
  font-family: 'Fjalla One', sans-serif;
}
input {
  height: 1.8em;
  font-size: 1em;
  margin-left: 40px;
  font-family: 'Fjalla One', sans-serif;
  border: blue solid thin;
}
div .save {
  margin-top: 20px;
  background-color: lightskyblue;
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
  font-family: 'Fjalla One', sans-serif;
}
div .save:hover {
  color: white;
  background-color: blue;
}
div .save:disabled {
  background-color: lightskyblue;
  color: black; 
  cursor: auto;
}
div .name {
  margin-right: 50px;
}
div .first {
  margin-right: 45px;
}
div .delete {
  margin-left: 100px;
  padding-top: none;
  padding-bottom: none;
  margin-top: none;
  margin-bottom: none;
  background-color: lightskyblue;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
  font-family: 'Fjalla One', sans-serif;
}
div .delete:hover {
  color: white;
  background-color: blue;
}
div .delete:disabled {
  background-color: lightskyblue;
  color: black; 
  cursor: auto;
}
h2 {
  font-family: 'Fjalla One', sans-serif;
  margin-top: 20px;
  margin-bottom: 0px;
}