[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h2 {
  text-align: center; margin-bottom: 0;
  font-family: 'Fjalla One', sans-serif;
}
h4 {
  text-align: center;
  position: relative;
  font-family: 'Fjalla One', sans-serif;
}
p {
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
}
.grid {
  margin: 0;
}
.col-1-4 {
  width: 33%;
  height: auto;
}
.module {
  padding: 20px;
  text-align: center;
  color: #111;
  font-family: 'Fjalla One', sans-serif;
  max-height: 120px;
  min-width: 120px;
  background-color: lightskyblue;
}
.module:hover {
  background-color: blue;
  cursor: pointer;
  color: white;
}
.module .taken {
  color: red;
}
.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 50px;
  }
}