<h2>Select a Cubicle!</h2>
<div class="container">
  <div *ngIf="today==1">
    <div class="grid grid-pad">
      <a *ngFor="let cubicle of cubicles"  [routerLink]="['/reserve', cubicle.id]"  class="col-1-4">
      <div class="module cubicle">
        <div *ngIf="!cubicle.mon; else first">
          <h4>{{cubicle.name}}</h4>
        </div>
        <ng-template #first>
          <h4 class="taken">{{cubicle.mon}}</h4>
        </ng-template>
      </div>
      </a>
    </div>
  </div>
  <div *ngIf="today==2">
    <div class="grid grid-pad">
      <a *ngFor="let cubicle of cubicles"  [routerLink]="['/reserve', cubicle.id]"  class="col-1-4">
      <div class="module cubicle">
        <div *ngIf="!cubicle.tues; else second">
          <h4>{{cubicle.name}}</h4>
        </div>
        <ng-template #second>
          <h4 class="taken">{{cubicle.tues}}</h4>
        </ng-template>
      </div>
      </a>
    </div>
  </div>
  <div *ngIf="today==3">
    <div class="grid grid-pad">
      <a *ngFor="let cubicle of cubicles"  [routerLink]="['/reserve', cubicle.id]"  class="col-1-4">
      <div class="module cubicle">
        <div *ngIf="!cubicle.wed; else third">
          <h4>{{cubicle.name}}</h4>
        </div>
        <ng-template #third>
          <h4 class="taken">{{cubicle.wed}}</h4>
        </ng-template>
      </div>
      </a>
    </div>
  </div>
  <div *ngIf="today==4">
    <div class="grid grid-pad">
      <a *ngFor="let cubicle of cubicles"  [routerLink]="['/reserve', cubicle.id]"  class="col-1-4">
      <div class="module cubicle">
        <div *ngIf="!cubicle.thurs; else fourth">
          <h4>{{cubicle.name}}</h4>
        </div>
        <ng-template #fourth>
          <h4 class="taken">{{cubicle.thurs}}</h4>
        </ng-template>
      </div>
      </a>
    </div>
  </div>
  <div *ngIf="today==5">
    <div class="grid grid-pad">
      <a *ngFor="let cubicle of cubicles"  [routerLink]="['/reserve', cubicle.id]"  class="col-1-4">
      <div class="module cubicle">
        <div *ngIf="!cubicle.fri; else fifth">
          <h4>{{cubicle.name}}</h4>
        </div>
        <ng-template #fifth>
          <h4 class="taken">{{cubicle.fri}}</h4>
        </ng-template>
      </div>
      </a>
    </div>
  </div>
  <div *ngIf="today==0 || today==6">
    <div class="grid grid-pad">
      <a *ngFor="let cubicle of cubicles"  [routerLink]="['/reserve', cubicle.id]"  class="col-1-4">
      <div class="module cubicle">
        <h4>{{cubicle.name}}</h4>
      </div>
      </a>
    </div>
  </div>
  <p>The ping pong table and extra desks are located here.</p>
</div>